<a href="https://colab.research.google.com/github/Nagamvinusha/Assignment2/blob/master/Copy_of_Copy_of_Copy_of_Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ASSIGNMENT 2:

In [ ]:
#1:
year = int(input("Enter the year"))
if year % 12 == 0 :
  print("monkey")
elif year % 12 == 1 :
  print("rooster")
elif year % 12 == 2 :
  print("dog")
elif year % 12 == 3 :
  print("pig")
elif year % 12 == 4 :
  print("rat")
elif year % 12 == 5 :
  print("ox")
elif year % 12 == 6 :
  print("tiger")
elif year % 12 == 7 :
  print("rabbit")
elif year % 12 == 8 :
  print("dragon")
elif year % 12 == 9 :
  print("snake")
elif year % 12 == 10 :
  print("horse")
else :
  print("sheep")

Enter the year2000
dragon

In [ ]:
#2:
dist=int(input('Distance to be travelled: '))
kg=int(input('Weight of the goods: '))
if dist>=500:
    if kg>=100:
        amount=5*dist
        print('Amount to be charged: ',amount,'/-')
    elif 10<=kg<100:
        amount=6*dist
        print('Amount to be charged: ',amount,'/-')
    else:
        amount=7*dist
        print('Amount to be charged: ',amount,'/-')
else:
    if kg>=100:
        amount=8*dist
        print('Amount to be charged: ',amount,'/-')
    else:
        amount=5*dist
        print('Amount to be charged: ',amount,'/-')

Distance to be travelled: 520
Weight of the goods: 50
Amount to be charged:  3120 /-

In [ ]:
#3
seat=input("Type of seat: ")
pay=input("Select cash or card: ")
if seat=="stalls" :
    amount=625
elif seat=="circle" :
    amount=750
elif seat=="upper class" :
    amount=850
elif  seat =="Box" :
      amount=1000
else :
    print("Invalid")
if pay=="cash" :
    t=amount-(amount*10//100)
else:
    t=amount-(amount*5//100)
print("cost of ticket is: ",t)

Type of seat: circle
Select cash or card: cash
cost of ticket is:  675

In [ ]:
#4:
M=int(input("Enter the amount of water in kgs"))
initialTemperature=int(input("Enter the initial temperature :"))
finalTemperature=int(input("Enter the final temperature :"))
Q=(M)*(finalTemperature-initialTemperature)*4184
print(Q)

Enter the amount of water in kgs260
Enter the initial temperature :50
Enter the final temperature :65
16317600

In [ ]:
#5:
M=input("Enter month: ")
if (M=="December" or M=="January" or M=="February"):
    print("Winter")
elif (M=="March" or M=="April" or M=="May"):
    print("Spring")
elif (M=="June" or M=="July" or M=="August"):
    print("Summer")
else:
    print("Autumn")

Enter month: October
Autumn

In [ ]:
#6:
weight=float(input("Enter the Weight in pounds"))
height=float(input("Enter the Height in inches"))
m=0.45359237*weight
i=0.0254*height
B=(m/(i**2))
print(B)
if(B<18.5):
  print("Underweight")
elif(B>=18.5 and B<25.0):
  print("Normal")
elif(B>=25.0 and B<30.0):
  print("Over Weight")
elif(B>=30.0):
  print("Obese")
else:
  print("******")

Enter the Weight in pounds55
Enter the Height in inches6
1074.1340800042715
Obese

In [ ]:
#7:
i=int(input("Enter an integer from 100 to 1000"))
sum=0
while(i>0):
    n=i%10
    i=i//10
    sum=sum+n
print("Sum=",sum)

Enter an integer from 100 to 1000745
Sum= 16

In [ ]:
#8:
for n in range(1,1001):
  sum=0
  temp=n
  while n>0:
       rev=n%10
       sum=sum*10+rev
       n=n//10
  if temp==sum:
       print(temp,end=" ")

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

In [ ]:
#9:
for n in range(1,1001):
    sum=0
    temp=n
    while n>0:
      rev=n%10
      sum+=rev*rev*rev
      n=n//10
    if sum==temp:
      print(temp,end=" ")

1 153 370 371 407

In [ ]:
#10:
for i in range(1,101):
    if i%3==0 and i%5==0:
       print("fizz buzz")
    elif i%3==0:
       print("Fizz") 
    elif i%5==0:
       print("Buzz")
    else:
       print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
fizz buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
fizz buzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
fizz buzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
fizz buzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
fizz buzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
fizz buzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
#11:
H=int(input("Enter height of the well "))
U=int(input("Enter the meters which is climbed "))
D=int(input("Slips down"))
step=((H-U)+(U-D))//(U-D)
print(step+1)

Enter height of the well 200
Enter the meters which is climbed 50
Slips down1
5